body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header{
  text-align: center;
}

nav a{
  padding: : 10px;
}

#featured-property{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#featured-property p{
  width: 800px;
}
/*#details{
  display: block;
  background: red;
}
#details div{
  float: left;
  width: 25%
}
*/

*#details{
  display: flex;
  background: red;
  justify-content: space-around;
}
