body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1 {
  color: red;
}
header{
  text-align: center
}
a{
 padding-left: 10px;
 padding-right: 10px;
 background-color: grey;
}
.textclass{
  text-align: center;
  margin-right: 300px;
  margin-left : 300px;
}
img
  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  
}


div #details{
 
  display: block;
  
}
div{
  float: left;
  background-color: red;
  text-align: center;
  width: 25%;
  
}