body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header{
    text-align: center;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:900px;
}
nav{
  text-align: center;
}
nav a{
  padding-right: 10px;
  padding-left: 10px;
  background-color: grey;
}
figcaption{
  text-align: center;
}
p#featured-property{

  text-align:center;
  width: 800px;
}
#details{
  display: block;
  
}
div{
  float: left;
  background-color: orange;
  text-align: center;
  width: 25%;
}
  

